<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Experience</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Jquery.js -->
        <script
        src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
        crossorigin="anonymous"></script>

        <!-- Popper.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

        <!-- Bootstrap JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="styles/standardstyle.css">
        <script src="scripts/Resume.js" defer></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
            <a class="navbar-brand mr-auto" href="#" id="brand">ResuMe</a>
            <ul class="navbar nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="homepage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="Skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Awards">Awards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Extras">Extras</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid" id="experiencePageGrid">
            <div class="row">
                <div class="col-3" id="experienceLeftGrid">
                    <div class="nav flex-column nav-pills" id="experienceTab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link editable active" id="experienceEmployer1Tab" data-toggle="pill" href="#employer1ContentTab" role="tab" aria-controls="employer1ContentTab" aria-selected="true">Employer 1</a>
                        <a class="nav-link editable" id="experienceEmployer2Tab" data-toggle="pill" href="#employer2ContentTab" role="tab" aria-controls="employer2ContentTab" aria-selected="false">Employer 2</a>
                    </div>
                    <button type="button" class="editButton">editContent</button>
                    <button type="button" class="cancelButton">Cancel</button>
                </div>
                <div class="col-9">
                    <div class="tab-content" id="experienceTabContent">
                        <div class="tab-pane fade show active experienceContentPage" id="employer1ContentTab" role="tabpanel" aria-labelledby="employer1ContentTab">
                            <div class="container-fluid">
                                <h2 id="Employerfont">Employer 1</h2>
                                <hr>
                                <h2  id="EmfontItalicised">About Employer</h2>
                                <p class="editable">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium eum tempora quis et molestias. Dolorem excepturi obcaecati nemo non cumque similique ullam dolores, natus aut eaque delectus dignissimos repellendus quisquam autem harum, sunt voluptates ab expedita ex! Optio sapiente cum ducimus ipsa eum sunt hic quis deleniti. Eum nemo facere eaque ea vitae consequuntur voluptatibus iste laboriosam amet libero, odio optio veritatis totam? Sequi eligendi quidem tenetur eius odit voluptatibus aliquam asperiores at ex rem similique explicabo amet magnam reprehenderit quis, illo praesentium temporibus. At dolorem impedit reiciendis delectus saepe? Aperiam facilis aspernatur molestiae. Veniam autem facere excepturi debitis et!
                                </p>
                            </div>
                            <div id="backgroundcolor">
                            <h2 id="Employerfont">Responsibilities</h2>
                            <br>
                            <div class="container-fluid">
                                <ul class="nav nav-pills mb-3" id="responsibilitiesTab" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link editable active" id="employer1Responsibility1Tab" data-toggle="pill" href="#employer1Responsibility1Content" role="tab" aria-controls="employer2Responsibility2Content" aria-selected="true">Cashier</a>
                                    </li>

                                    <li class="nav-item">
                                      <a class="nav-link editable" id="employer1Responsibility2Tab" data-toggle="pill" href="#employer1Responsibility2Content" role="tab" aria-controls="employer1Responsibility2Content" aria-selected="false">Dish</a>
                                    </li>

                                    <li class="nav-item">
                                      <a class="nav-link editable" id="employer1Responsibility3Tab" data-toggle="pill" href="#employer1Responsibility3Content" role="tab" aria-controls="employer1Responsibility3Content" aria-selected="false">Baker</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link editable" id="employer1Responsibility4Tab" data-toggle="pill" href="#employer1Responsibility4Content" role="tab" aria-controls="employer1Responsibility4Content" aria-selected="false">Something</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link editable" id="employer1Responsibility5Tab" data-toggle="pill" href="#employer1Responsibility5Content" role="tab" aria-controls="employer1Responsibility5Content" aria-selected="false">Something2</a>
                                    </li>
                                </ul>
                                <br>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="employer1Responsibility1Content" role="tabpanel" aria-labelledby="employer1Responsibility1Tab"><h2 id="jobnames">Cashier</h2>
                                        <hr>
                                        <h2 id="responsibility">Responsibilities</h2>
                                        <p  class="editable"id="Employerparagraph">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum impedit dolores debitis ipsam nostrum eveniet in repudiandae aspernatur, amet perspiciatis eos. Architecto, cumque distinctio.
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="employer1Responsibility2Content" role="tabpanel" aria-labelledby="employer1Responsibility2Tab"><h2 id="jobnames">Dish</h2>
                                        <hr>
                                        <h2 id="responsibility">Responsibilites</h2>
                                        <p class="editable" id="Employerparagraph">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque atque possimus voluptate minus sequi inventore ratione beatae obcaecati, labore tempore aliquam eius debitis, iste iusto exercitationem et numquam excepturi odit odio quae dicta! Eveniet eos quidem labore blanditiis explicabo nulla voluptatem velit cupiditate aspernatur vero porro odio, quae magnam dolor aut fuga impedit quibusdam mollitia hic nisi reiciendis ad! Corporis, veniam optio?
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="employer1Responsibility3Content" role="tabpanel" aria-labelledby="employer1Responsibility3Tab"><h2 id="jobnames">Baker</h2>
                                        <hr>
                                        <h2 id="responsibility">Responsibilites</h2>
                                        <p  class="editable"id="Employerparagraph">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias provident architecto libero consectetur nostrum veritatis tenetur consequuntur nesciunt sequi quo illo incidunt, enim fugiat consequatur ea eius sapiente ipsum necessitatibus exercitationem saepe nam! Repellendus quod accusantium veniam, quis quisquam eum fuga architecto illum eius atque hic, dolorem soluta aperiam voluptatibus ad explicabo nobis perspiciatis sapiente. Magni eligendi quis sit maiores fuga maxime eius, voluptatum ut aliquam assumenda quae fugit doloribus ducimus officiis.
                                        </p>

                                    </div>
                                    <div class="tab-pane fade" id="employer1Responsibility4Content" role="tabpanel" aria-labelledby="employer1Responsibility4Tab"><h2 id="jobnames">Baker</h2>
                                        <hr>
                                        <h2 id="responsibility">Responsibilites</h2>
                                        <p  class="editable"id="Employerparagraph">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis autem qui natus, eveniet ullam consectetur eos nobis tenetur aspernatur nam sit, aliquam quia nesciunt soluta placeat corrupti temporibus exercitationem eum similique sapiente accusamus facere dolor rem. Nostrum quisquam, eum a quae consectetur enim similique et? Dignissimos fuga consectetur cupiditate ducimus, temporibus ipsa mollitia, voluptatibus voluptatum ad quod vel earum amet quasi atque deleniti, doloremque iste aliquam impedit odit nemo! Sunt et recusandae, eius deserunt provident aperiam. Nisi sunt magni expedita quod consequatur, illo blanditiis veritatis quaerat modi tempora quisquam, soluta dicta ullam!
                                        </p>

                                    </div>
                                    <div class="tab-pane fade" id="employer1Responsibility5Content" role="tabpanel" aria-labelledby="employer1Responsibility5Tab"><h2 id="jobnames">Baker</h2>
                                        <hr>
                                        <h2 id="responsibility">Responsibilites</h2>
                                        <p  class="editable"id="Employerparagraph">
                                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis laborum inventore mollitia doloribus fugit dolores in et sit suscipit ullam nobis saepe dolorum a, voluptas nemo velit modi libero molestias! Quidem nulla fugiat libero optio repellat eum non iste natus ullam neque?
                                        </p>

                                    </div>
                                </div>

                            </div>
                        </div>
                      </div>
                        <div class="tab-pane fade experienceContentPage" id="employer2ContentTab" role="tabpanel" aria-labelledby="employer2ContentTab">
                            <h2  id="Employerfont">Employer 2 Info</h2>
                            <hr>
                            <p class ="editable" id="Employerparagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, adipisci ex officia fugiat ea deleniti, eligendi assumenda doloremque ipsa natus commodi architecto ipsam repellat deserunt facere! Dolore porro provident accusantium voluptatem atque? Dolor id provident repellat eligendi nihil fugit neque? Sequi eligendi numquam beatae! Consequuntur, eum. Inventore, modi. Eveniet, officiis!</p>
                            <h2 id="Employerfont">Responsibilities</h2>
                            <br>
                            <div class="container-fluid">
                                <ul class="nav nav-pills mb-3" id="responsibilitiesTab" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link editable active" id="employer2Responsibility1Tab" data-toggle="pill" href="#employer2Responsibility1Content" role="tab" aria-controls="employer2Responsibility1Content" aria-selected="true">Engineering</a>
                                    </li>

                                    <li class="nav-item">
                                      <a class="nav-link editable" id="employer2Responsibility2Tab" data-toggle="pill" href="#employer2Responsibility2Content" role="tab" aria-controls="employer2Responsibility2Content" aria-selected="false">Marketing</a>
                                    </li>

                                    <li class="nav-item">
                                      <a class="nav-link editable" id="employer2Responsibility3Tab" data-toggle="pill" href="#employer2Responsibility3Content" role="tab" aria-controls="employer2Responsibility3Content" aria-selected="false">Supply Chain</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link editable" id="employer2Responsibility4Tab" data-toggle="pill" href="#employer2Responsibility4Content" role="tab" aria-controls="employer2Responsibility4Content" aria-selected="false">Coding</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link editable" id="employer2Responsibility5Tab" data-toggle="pill" href="#employer2Responsibility5Content" role="tab" aria-controls="employer2Responsibility5Content" aria-selected="false">Quality Assurance</a>
                                    </li>
                                </ul>
                                <br>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="employer2Responsibility1Content" role="tabpanel" aria-labelledby="employer2Responsibility1Tab"><h2 id="jobnames">Engineering</h2>
                                        <hr>
                                        <h2 id="responsibility">Responsibilities</h2>
                                        <p  class="editable"id="Employerparagraph">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium eum tempora quis et molestias. Dolorem excepturi obcaecati nemo non cumque similique ullam dolores, natus aut eaque delectus dignissimos repellendus quisquam autem harum, sunt voluptates ab expedita ex! Optio sapiente cum ducimus ipsa eum sunt hic quis deleniti. Eum nemo facere eaque ea vitae consequuntur voluptatibus iste laboriosam amet libero, odio optio veritatis totam? Sequi eligendi quidem tenetur eius odit voluptatibus aliquam asperiores at ex rem similique explicabo amet magnam reprehenderit quis, illo praesentium temporibus. At dolorem impedit reiciendis delectus saepe? Aperiam facilis aspernatur molestiae. Veniam autem facere excepturi debitis et!
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="employer2Responsibility2Content" role="tabpanel" aria-labelledby="employer2Responsibility2Tab"><h2 id="jobnames">Marketing</h2>
                                        <hr>
                                        <h2 id="responsibility">Responsibilites</h2>
                                        <p class="editable" id="Employerparagraph">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat modi ducimus ipsa suscipit aliquid ipsum dolore itaque sunt eaque porro!
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="employer2Responsibility3Content" role="tabpanel" aria-labelledby="employer2Responsibility3Tab"><h2 id="jobnames">Supply Chain</h2>
                                        <hr>
                                        <h2 id="responsibility">Responsibilites</h2>
                                        <p  class="editable"id="Employerparagraph">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus corrupti reprehenderit, architecto similique illo minus, perspiciatis natus suscipit voluptates velit nostrum nesciunt quis rerum iusto asperiores praesentium tempore consectetur obcaecati iure nisi. Soluta asperiores a ab at excepturi fugiat voluptate delectus accusantium velit totam neque, similique eaque repellat deserunt cupiditate dolorem, incidunt dignissimos esse nulla ex voluptates repudiandae praesentium? Quam.
                                        </p>

                                    </div>
                                    <div class="tab-pane fade" id="employer2Responsibility4Content" role="tabpanel" aria-labelledby="employer2Responsibility4Tab"><h2 id="jobnames">Coding</h2>
                                        <hr>
                                        <h2 id="responsibility">Responsibilites</h2>
                                        <p  class="editable"id="Employerparagraph">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus corrupti reprehenderit, architecto similique illo minus, perspiciatis natus suscipit voluptates velit nostrum nesciunt quis rerum iusto asperiores praesentium tempore consectetur obcaecati iure nisi. Soluta asperiores a ab at excepturi fugiat voluptate delectus accusantium velit totam neque, similique eaque repellat deserunt cupiditate dolorem, incidunt dignissimos esse nulla ex voluptates repudiandae praesentium? Quam.
                                        </p>

                                    </div>
                                    <div class="tab-pane fade" id="employer2Responsibility5Content" role="tabpanel" aria-labelledby="employer2Responsibility5Tab"><h2 id="jobnames">Quality Assurance</h2>
                                        <hr>
                                        <h2 id="responsibility">Responsibilites</h2>
                                        <p  class="editable"id="Employerparagraph">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus corrupti reprehenderit, architecto similique illo minus, perspiciatis natus suscipit voluptates velit nostrum nesciunt quis rerum iusto asperiores praesentium tempore consectetur obcaecati iure nisi. Soluta asperiores a ab at excepturi fugiat voluptate delectus accusantium velit totam neque, similique eaque repellat deserunt cupiditate dolorem, incidunt dignissimos esse nulla ex voluptates repudiandae praesentium? Quam.
                                        </p>

                                    </div>
                                    
                                </div>

                            </div>

                        </div>
                        
                    </div>
                </div>

            </div>
        </div>



        <nav class="navbar navbar-expand-lg navbar-dark">
            <ul class="navbar nav">
                <li class="nav-item">
                    <a class="nav-link text-white">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white">1-800-Resume</a>
                </li>
                <li class="nav-item">
                    <a href="mailto:dtn5089@psu.com" id="footerEmail">email</a><br>
                </li>
        </nav>



    </body>
</html>
