<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>

        <!--
            This Project includes external libraries such as Bootstrap, Jquery, and possibly Jquery UI Widgets
        -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- jQuery -->
        <script
        src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
        crossorigin="anonymous"></script>


        <!-- Popper.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

        <!-- Bootstrap JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="../styles/standardstyle.css">
        <script src="../scripts/Resume.js" defer></script>
    </head>
    <body>

        <!--below are six consecutive Bootstrap modal popup, enabled by clicking on edit buttons next to the resume headers-->
        <!--header Modal-->
        <div class="modal fade" id="headerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                              <label for="nameInput">Name</label>
                              <input type="text" class="form-control" id="nameInput" aria-describedby="emailHelp" placeholder="Enter your Name">
                            </div>
                            <div class="form-group">
                              <label for="addressInput">address</label>
                              <input type="text" class="form-control" id="addressInput" placeholder="e.g 2707 Main Street, Steelton, PA, 16801">
                            </div>
                            <div class="form-group">
                              <label for="phoneNumberInput">Phone</label>
                              <input type="tel" class="form-control" id="phoneNumberInput" placeholder="e.g 532-536-1575">
                            </div>
                            <div class="form-group">
                              <label for="emailInput">email</label>
                              <input type="email" class="form-control" id="emailInput" placeholder="e.g asi5928@gmail.com">
                              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                          </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Education Modal -->
        <div class="modal fade" id="educationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Work Experience Modal -->
        <div class="modal fade" id="workExperienceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Work Experience</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!---entire body is a collapsible accordion-->
                        <div id="testAccordion" class="accordion">


                            <!-- <div class="card">
                              <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Collapsible Group Item #2
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Collapsible Group Item #3
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                              </div>
                            </div> -->
                          </div>
                    </div>
                    <div class="container-fluid modalItemContainer">
                        <input type="text" name="modalItemName" placeholder="company name, role, etc..">
                        <button type="button" class="btn btn-secondary addModalItemButton">Add</button>
                        <button type="button" class="btn btn-secondary cancelModalButton">Cancel</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary modalAddButton">Add Work Experience</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Skills Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Academics Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Extracurriculars Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!---Navigation bar-->
        <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
            <a class="navbar-brand mr-auto" href="#" id="brand">ResuMe</a>
            <ul class="navbar nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Awards">Awards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Extras">Extras</a>
                </li>
            </ul>
        </nav>

        <!--Grid containing resume to the left, about me section to the right-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-6" id="resume">
                    <header id="header">
                        <h1 id="resumeheader">John Doe
                         <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#headerModal" id="editResume">Edit</button> -->
                        </h1>
                        <address id="address">411 Waupelani Drive &emsp;-&emsp; 717-614-0744 &emsp;-&emsp; dtn5089@psu.edu</address>
                    </header>
                    <br>
                    <hr>
                    <br>
                    <main id="main">
                        <section id="education">
                            <h2 class="headercolor">Education</h2>
                            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#educationModal" id="editResume">Edit</button> -->
                            <hr class="linebreak">

                            <h3 id="subhead">Pennsylvania State University, University Park <span class="rightalign"> &emsp;&emsp;May 2021 (Estimated)</span></h3>

                            <p>
                                <span>Major: B.S Information Sciences and Technology</span>

                            </p>
                            <p>
                                Minors:
                            </p>
                            <ul>
                                <li>Security & Risk Analysis <span class="rightalign">Dean's List: Fall 2018, Spring 2019</span></li>
                                <li>Management Information System</li>
                            </ul>
                        </section>
                        <br>
                        <section id="experience">
                            <h2 class="headercolor">Work Experience <hr class="linebreak">
                                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#workExperienceModal" id="editResume">Edit</button> -->
                            <h3 id="subhead">Turkey Hill Mini Market, Cashier <span class="rightalign">&emsp;&emsp;January - May 2018</span></h3>
                            <ul>
                                <li>Coordinated with team to accomplish tasks on schedule</li>
                                <li>Stocked/restocked merchandise</li>
                                <li>handled cash registers</li>
                                <li>Provided customer service such as answering phones</li>
                            </ul>
                        </section>
                        <br>
                        <section id="skills">
                            <h2 class="headercolor">Technical Skills<hr class="linebreak">
                                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#educationModal" id="editResume"></button>Edit</button>  -->
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-3"><li>Project Management</li></div>
                                    <div class="col-3"><li>Brand Management</li></div>
                                    <div class="col-3"><li>Java programming</li></div>
                                    <div class="col-3"><li>Microsoft Office</li></div>
                                    <div class="col-3"><li>Data Analysis</li></div>
                                    <div class="col-3"><li>Databases</li></div>
                                    <div class="col-3"><li>Networking</li></div>
                                    <div class="col-3"><li>Supply Chain</li></div>
                                    <div class="col-3"><li>Marketing</li></div>
                                    <div class="col-3"><li>Finance</li></div>
                                </div>
                            </div>
                        </section>
                        <br>
                        <section id="projects">

                            <h2 class="headercolor">Academic Experience and Projects <hr class="linebreak">
                                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#educationModal" id="editResume">Edit</button> -->

                            <h3 id="subhead">Database Systems & Organization of Data</h3>
                            <ul>
                                <li>Designed and implemented a basic relational database table</li>
                                <li>Manipulated database by using SQL queries to store and retrieve data</li>
                                <li>Used Excel and Tableau to analyze Google Play Store data about mobile applications</li>
                            </ul>

                            <h3 id="subhead">Java Application Development</h3>
                            <ul>
                                <li>Worked with a team to code a text-ased trivia game in Java</li>
                                <li>Programmed a two-dimensional data table using Java GUI features to store and sort data</li>
                                <li>Applied UML to design and model software requirements and implemented it in Java</li>
                            </ul>

                            <h3 id="subhead">Web Development</h3>
                            <ul>
                                <li>Built a simple static, text-based web page using basic HTML/CSS</li>
                                <li>Built a homepage with navbar, background image, and buttons using Bootstrap Framework</li>
                            </ul>

                            <h3 id="subhead">User Experience Design</h3>
                            <ul>
                                <li>Designed and prototyped mobile applications using Adobe XD</li>
                                <li>Conducted user-research by interviews to better understand moile shopping habits of college students</li>
                            </ul>

                            <h3 id="subhead">Project Management</h3>
                            <ul>
                                <li>Collaborated with a team to conduct analysis regarding design features that healthcare websites should have.</li>
                            </ul>
                        </section>

                        <section id="awards">
                        </section>
                        <br>
                        <section id="extras">
                            <h2 class="headercolor">Extracurriculars </h2><hr class="linebreak">
                            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#educationModal" id="editResume">Edit</button>  -->
                            <p>
                                <h4 id="subhead">IST Consultant Group <span class="rightalign">&emsp;&emsp;January 2019 - present</span></h4>

                                <ul>
                                    <li>A student interest group whose main goal is to learn more about different facets of information technology such as User Experience Design, Cybersecurity, Mobile and Web application development.</li>
                                </ul>
                            </p>

                            <p>
                                <h4>Web Developer Bootcamp (Udemy course)</h4>
                                <ul>
                                    <li>A comprehensive web development course covering a wide range of subjects including but not limited to: HTML5, CSS, Javascript, Bootstrap 4, command-line, Github, MongroDB, etc...</li>
                                </ul>
                            </p>
                        </section>


                        <a href="http://personal.psu.edu/dtn5089" id="portfolioSite"><strong>Projects Portfolio site</strong></a>
                    </main>

                </div>
                <div class="col-6" id="aboutMe">
                    <img src="../img/student.jpg" alt="Profile picture here">
                    <br>
                    <br>
                    <h1 id="aboutheader">About Me</h1>
                    <hr>
                    <br>
                      <div id="blueBox">
                        <p id="aboutMeText" class="editable"><%= data.aboutMe %></p>
                      </div>
                    <br>
                    <div class="centerButton">
                      <button type="button" class="editButton">Edit Content</button>
                    </div>
                    <br>
                      <button type="button" class="cancelButton">Cancel</button>
                      <button type="button" class="saveButton" id="homepageSaveButton">Save</button>
                    <br>
                    <br>
                    <br>
                    <div class="center">
                        <h1 id="aboutheader">Job Board</h1>
                    </div>
                    <hr>
                    <div class="container-fluid" id="jobBoardContainer">
                        <div class="row">
                            <div class="col"><span class="jobBoardHeader">Employer: </span><span id="employerContent"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-6"> <span class="jobBoardHeader">Job Title: </span> <span id="jobTitleContent"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-6"> <span class="jobBoardHeader">Location: </span> <span id="jobLocationContent"></span></div>
                        </div>
                        <div class="row">
                            <div class="col"> <span class="jobBoardHeader">Job Type: </span> <span id="jobTypeContent"></span> </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6"><input type="text" placeholder="search terms here" id="jobSearch"></div>
                            <div class="col-6"><button type="button" id="apiButton">Search</button></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-3">
                                <h4 id="descriptionHeader">Description</h4>
                            </div>
                            <div class="col-9 d-inline-flex flex-row justify-content-end">
                                <button type="button" id="previousButton">Previous</button>
                                <button type="button" id="nextButton">Next</button>
                            </div>
                        </div>
                        <br>
                        <div id="blueBox">
                        <p id="jobDescription">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor sapiente dolores totam sed quaerat, ex est? Eaque odit sit inventore nihil voluptatem quasi facere doloribus eveniet, quae natus deserunt eius blanditiis, est, sequi esse quia nam tempore ipsum praesentium unde. Laudantium est recusandae provident sunt, amet dolore quae maiores assumenda facilis. Repellendus commodi tempora error accusamus corporis reiciendis eveniet. Numquam quibusdam ad labore deleniti iste ex a aperiam ratione dolores! Culpa sunt mollitia doloribus labore perspiciatis, dolores odit neque enim est! Pariatur quod esse dicta deserunt quae nulla doloremque optio ea deleniti! Distinctio officiis ratione, iste doloribus tempora numquam dolores libero maiores autem. Fuga doloremque veniam totam qui quam id architecto maxime soluta dolorem voluptates odit eligendi cupiditate, perferendis quas sit itaque cum earum ullam eos quaerat! Explicabo amet sit non obcaecati, quas laudantium sequi, velit quae dignissimos praesentium ab, alias rem officia sunt error quasi unde repudiandae dicta? Autem culpa doloribus soluta natus, officiis optio voluptas, alias voluptate doloremque aliquam hic amet? Tempore, alias aliquid. Cum aliquid vel perspiciatis magnam possimus at ad recusandae nam, ut quam a eius quaerat alias porro cumque provident omnis sed nulla sit, odit repellendus id itaque? Consequuntur, nulla? Facere praesentium eum sit quam excepturi et possimus mollitia, suscipit porro? Id consequuntur quam ex dolorum. Adipisci reprehenderit sint cupiditate assumenda numquam dicta totam repellendus corporis tempora ad, fugit quia asperiores soluta aliquam perferendis voluptates earum, illo, dolor incidunt quidem excepturi autem? Officia, voluptates, culpa impedit magnam asperiores rerum sunt suscipit voluptatum soluta omnis inventore ea ex ipsa architecto neque quod. Libero dolorum amet a quasi rem nostrum, hic ipsa adipisci perspiciatis, voluptas excepturi tenetur esse officiis iusto facere. Qui nobis rerum neque ea architecto consectetur quis nisi! Vitae provident molestiae dolores, magnam explicabo reprehenderit earum autem iure quo, impedit non animi et perspiciatis.
                        </p>
                      </div>
                    </div>
                </div>
            </div>
        </div>


        <!---bottom nav bar-->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <ul class="navbar nav">
                <li class="nav-item">
                    <a class="nav-link text-white">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white">1-800-Resume</a>
                </li>
                <li class="nav-item">
                    <a href="mailto:dtn5089@psu.com" id="footerEmail">email</a><br>
                </li>
        </nav>



        <div class="card" id="templateCard">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="collapsableButton">
                  Collapsible Group Item #1
                </button>
                <button type="button" class="deleteItemButton">Delete</button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#testAccordion">
              <div class="card-body">
                <ul>
                    <li class="bulletPointClicked">Coordinated with team to accomplish tasks on schedule</li>
                    <li class="bulletPointClicked">Stocked/restocked merchandise</li>
                    <li class="bulletPointClicked">Provided customer service such as answering phones</li>
                </ul>
                <button class="addResponsibilityButton">Add Responsibility</button> <br>
                <div class="addResponsibilityContainer">
                    <input type="text">
                    <button class="addBulletPointButton">Add</button>
                    <button class="cancelResponsibilityButton">Cancel</button>
                </div>
              </div>
            </div>
        </div>
    </body>
</html>
