/*
Homepage style
*/
#brand {
    font-size: 2rem;
    font-family: "Mr Eaves San OT";
    font-weight: 300;
}

.navbar, .navbar-expand-lg, .navbar-dark{
  background-color: #344349;
}

.nav-item {
  font-family: "Futura";
  font-weight: 600;
  font-size: 12pt;
  color: white;
}

.nav-item :hover{
  background-color: #6C848C;
  border: 1px;
  border-color: #6C848C;
  border-radius: 6px;
}

#aboutMe img {
    display: block;
    height: 20%;
    margin: auto;
}

#aboutMe h1 {
    font-family: "Big Caslon FB";
    font-size: 30pt;
    color: #344349;
    margin: auto;
    width: 50%;
    text-align: center;
}

/* #aboutMe p {
    display: block;

    margin-left: 40px;
    margin-right: 40px;
    background-color: #D3E1E5;
    border: 1px solid #D3E1E5;
    padding: 20px;
    margin-top: 5px;
    border-radius: 6px;
    max-height: 600px;
    overflow: scroll;
} */

#aboutMeText{
  display: block;

  margin-left: 40px;
  margin-right: 40px;
  background-color: #D3E1E5;
  border: 1px solid #D3E1E5;
  padding: 20px;
  margin-top: 5px;
  border-radius: 6px;
  max-height: 600px;
  overflow: scroll;
}

#jobDescription, #blueBox {
  text-align: center;
  display: block;
  background-color: #D3E1E5;
  border: 1px solid #D3E1E5;
  border-radius: 6px;
  max-height: 600px;
  overflow: scroll;
}

#nextButton, #previousButton {
  display: none;
}

.jobBoardHeader {
  font-size: 1.2rem;
  font-weight: bold;
}

.centerButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #aboutMe * {
    margin: 25px;
} */

#header{
  text-align: center;
  margin-top: 20px;
}

#resumeheader{
  font-family: "Big Caslon FB";
  font-size: 30pt;
}

.headercolor{
  color: #6C848C;
}

#portfolioSite, #footerEmail{
  color: #6C848C;
}

#subhead{
  font-size: 16pt;
  font-weight: bold;
}

#extras{
  margin-bottom: 50px;
}

#resume{
    border: 1px solid #6C848C;
    overflow: scroll;
    /* margin: auto; */
    margin-bottom: 50px;
    box-shadow: 10px 10px 8px #888888;
    font-family: "Big Caslon FB";
}
#resume p{
	font-size: 1rem;
}


hr{
  border-top: 1px solid #6C848C;
}

#footer{
  bottom: 0px;
}

#skills li {
  font-size: 1rem;
}

#resume button {
  position: absolute;
  right: 10px;
}

.modalAddButton {
  position: absolute;
  left: 5px;
}

.modalItemContainer{
  display: none;
  padding-top: 200px;
}

.deleteItemButton {
  position: absolute;
  right: 10px;
}
.addResponsibilityContainer {
  display: none;
}

/* buttons */

#apiButton, #addSkill, #removeSkill, .editButton, .deleteItemButton, .addResponsibilityButton{
  margin-left: 10px;
  font-family: "Futura";
  font-size: 10pt;
  color: #D3E1E5;
  background-color: #344349;
  padding: 9px;
  border: 3px solid #D3E1E5;
  border-radius: 7px;
}

.cancelButton, #homepageSaveButton, #previousButton, #nextButton, #editResume, #educationSaveButton, #skillsSaveButton, #experienceSaveButton, #awardSaveButton, #extrasSaveButton{
  margin-left: 8px;
  font-family: "Futura";
  font-size: 10pt;
  color: #D3E1E5;
  background-color: #344349;
  padding: 6px;
  border: 3px solid #D3E1E5;
  border-radius: 9px;
}

.editButton:hover{
  background-color: #6C848C;
}

.cancelButton:hover{
  background-color: #6C848C;
}

#homepageSaveButton:hover{
  background-color: #6C848C;
}

#previousButton:hover{
  background-color: #6C848C;
}

#nextButton:hover{
  background-color: #6C848C;
}

#apiButton:hover{
  background-color: #6C848C;
}

.deleteItemButton:hover{
  background-color: #6C848C;
}

.addResponsibilityButton:hover{
  background-color: #6C848C;
}

#educationSaveButton:hover{
  background-color: #6C848C;
}

#cancelButton:hover{
  background-color: #6C848C;
}

/* api */

#employerContent, #jobTitleContent, #jobLocationContent, #jobTypeContent, .bulletPointClicked{
    font-family: "Futura";
    font-size: 12pt;
    color: #8ba8b0;
    margin: auto;
    font-weight: lighter;
}

.jobBoardHeader, #descriptionHeader, #collapsableButton{
    font-family: "Big Caslon FB";
    font-size: 15pt;
    color: #344349;
    margin: auto;
}

/*
Education Page style
*/

#majorHeader, #minorHeader{
    font-family: "Big Caslon FB";
    font-size: 30pt;
    color: #344349;
}

#about{
    font-family: "Big Caslon FB";
    font-size: 30pt;
    color: #344349;
    margin: auto;
    width: 50%;
    text-align: center;
}

#aboutSchool, #undergraduate, #graduate, #major, #minor{
  background-color: white;
  border: 1px solid white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 10px 10px 10px 2px #888888;
}

#collegeImage {
    display: block;
    width: 100%;
    margin: auto;
}

#schoolTitle {
  font-family: "Big Caslon FB";
  font-size: 30pt;
  color: #344349;
}


#profile-tab, #home-tab, #contact-tab {
  color: #6C848C;
  background-color: white;
  font-family: "Futura";
  font-weight: lighter;
}



#home, #profile, #contact{
  background-color: #D3E1E5;
  border: 1px solid #D3E1E5;
  padding: 20px;
  margin-top: 5px;
  border-radius: 6px;
}

/*
Skills Page Style
*/

nav:first-of-type{
    margin-bottom: 30px;
}

#skillsLabel {
    display:inline;
    margin-left: 33%;
    font-family: "Big Caslon FB";
    font-size: 30pt;
    color: #344349;
}

#skills {
  font-family: "Big Caslon FB";
  font-size: 20pt;
  color: #344349;
}

#v-pills-tab{
  font-family: "Futura";
  font-size: 12pt;
  background-color: #D3E1E5;
  border: 1px solid #D3E1E5;
  padding: 20px;
  padding-right: 30px;
  margin-top: 20px;
  border-radius: 6px;
}

 #emp2Task1, #emp2Task2, #emp2Task3, #emp2Task4, #emp2Task5, #emp1Task1, #emp1Task2, #emp1Task3, #emp1Task4, #emp1Task5, #skill8Tab, #skill7Tab, #skill6Tab, #skill5Tab, #skill4Tab, #skill3Tab, #skill2Tab, #skill1Tab, #v-pills-home-tab, #v-pills-profile-tab, #v-pills-messages-tab, #v-pills-settings-tab{
  color: #344349;
  background-color: #D3E1E5;
}

#emp1Task1:hover{
  background-color: white;
}

#emp1Task2:hover{
  background-color: white;
}

#emp1Task3:hover{
  background-color: white;
}

#emp1Task4:hover{
  background-color: white;
}

#emp1Task5:hover{
  background-color: white;
}

#emp2Task1:hover{
  background-color: white;
}

#emp2Task2:hover{
  background-color: white;
}

#emp2Task3:hover{
  background-color: white;
}

#emp2Task4:hover{
  background-color: white;
}

#emp2Task5:hover{
  background-color: white;
}
/* #skill4Tab, #skill3Tab, #skill2Tab, #skill1Tab{
  visibility: hidden;
  display: none;
} */

.nav-link :active{
  background-color: white;
  border: 1px;
  border-color: white;
  border-radius: 6px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-link :hover{
  background-color: white;
  border: 1px;
  border-color: white;
  border-radius: 6px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

 #skill8TabContent, #skill7TabContent, #skill6TabContent, #skill5TabContent, #skill4TabContent, #skill3TabContent, #skill2TabContent, #skill1TabContent, #v-pills-home, #v-pills-profile, #v-pills-messages, #v-pills-settings {
  background-color: #D3E1E5;
  border: 1px solid #D3E1E5;
  padding: 20px;
  padding-right: 30px;
  margin-top: 20px;
  border-radius: 6px;
  margin-bottom: 50px;
}

#skill8TabContent, #skill7TabContent, #skill6TabContent, #skill5TabContent,
#skill4TabContent, #skill3TabContent, #skill2TabContent, #skill1TabContent{
  background-color: #D3E1E5;
  border: 1px solid #D3E1E5;
  padding: 20px;
  margin-top: 5px;
  border-radius: 6px;
  margin-bottom: 50px;
}


.whiteShadow{
  background-color: white;
  border: 1px solid white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 10px 10px 10px 2px #888888;
}

#addSkill, #removeSkill{
  margin-left: 10px;
  font-family: "Futura";
  font-size: 10pt;
  color: #D3E1E5;
  background-color: #344349;
  padding: 9px;
  border: 3px solid #D3E1E5;
  border-radius: 7px;
}

#addSkill:hover{
  background-color: #6C848C;
}

#removeSkill:hover{
  background-color: #6C848C;
}

/*
white shadow
*/

#skillsParagraph, #aboutMeText, #jobDescription{
  background-color: white;
  border: 1px solid white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 10px 10px 10px 2px #888888;
}

.skillsContentPage {

    padding: 15px;
    width: 80%;
    margin: auto;
}
.skillsContentPage p {
    overflow: auto;
    height: 400px;
}

#enterLink {
  display: none;
}



/*
  EXPERIENCE Page Style
*/
#backgroundcolor, #employer1ContentTab, #employer2ContentTab{
    background-color: #D3E1E5;
    border: 1px solid #D3E1E5;
    padding: 20px;
    margin-top: 5px;
    border-radius: 6px;
  }
  /*
  WHITE
  */
.Employerparagraph{
    background-color: white;
    border: 1px solid white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 10px 10px 10px 2px #888888;
  }


#Employerfont{
  font-family: "Big Caslon FB";
  font-size: 30pt;
  color: #344349;
}

#responsibility, #EmfontItalicised{
  font-family: "Big Caslon FB";
  font-size: 25pt;
  color: #344349;
  font-style: italic;
}

#jobnames{
  font-family: "Big Caslon FB";
  font-size: 25pt;
  color: #344349;
}



/*
  Bootstrap
*/

/*
  Bootstrap left tag
*/
#workExperience1, #workExperience2, #experienceTab{
  color: #344349;
  background-color: #D3E1E5;
  border: 1px solid #D3E1E5;
  padding: 20px;
  margin-top: 5px;
  border-radius: 6px;
  font-family: "Futura";
  font-weight: lighter;
}

#experienceTab :hover{
  background-color: white;
  border: 1px;
  border-color: white;
  border-radius: 6px;
}


/*
  Cashier Dish Baker
*/

#employer2Responsibility1Tab, #employer2Responsibility2Tab, #responsibility3Tab{
  color: #6C848C;
  background-color: white;
  font-family: "Futura";
  font-weight: lighter;
}

#employer2Responsibility1Tab, #employer2Responsibility2Tab{
  margin-right: 12px;
}





.experienceContentPage hr + h2 {
  text-align: right;

}
.experienceContentPage div {
  margin-bottom: 60px;
}

#experienceLeftGrid {
  height: 70vh;
}





/* Projects Page Style
*/

#projectstype{
  font-family: "Big Caslon FB";
  font-size: 25pt;
  color: #344349;
}

#blueback{
    background-color: #D3E1E5;
    border: 1px solid #D3E1E5;
    padding: 20px;
    margin-top: 5px;
    border-radius: 6px;
    margin-bottom: 50px;
  }


#imagesSlide {
  margin-left: 150px;
  width: 800px;
  height: 600px;
}

#imagetext{
  font-family: "Futura";
  font-weight: bold;
}




/*Awards Page Style
*/

#awardDescription{
  background-color: white;
  border: 1px solid white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 10px 10px 10px 2px #888888;
}

#descriptionHeader{
  font-family: "Big Caslon FB";
  font-size: 25pt;
  color: #344349;
}

#awardHeader{
  font-family: "Big Caslon FB";
  font-size: 25pt;
  color: #344349;
}

#award{
  font-family: "Big Caslon FB";
  font-size: 20pt;
  color: #344349;
  font-style: italic;
}

#awardDescriptionText{
  background-color: white;
  border: 1px solid white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 10px 10px 10px 2px #888888;
}

#awardSecondGrid{
  color: #344349;
  background-color: #D3E1E5;
  border: 1px solid #D3E1E5;
  padding: 20px;
  margin-top: 5px;
  border-radius: 6px;
  margin-bottom: 50px;
}


#awardImage {
  width: 100%;
}
#award {
  text-align: right;
}
#awardSecondGrid {
  margin-top: 60px;
  padding: 3rem;
}
#awardDescriptionText {
  overflow: auto;
  height: 450px;
}




/* Extras Page Style
*/

#undergradExtra1, #undergradExtra2, #undergradExtra3{
  font-family: "Big Caslon FB";
  font-size: 20pt;
  color: #344349;
}

#blueBox{
    background-color: #D3E1E5;
    border: 1px solid #D3E1E5;
    padding: 20px;
    margin-top: 5px;
    border-radius: 6px;
    margin-bottom: 50px;
  }

.extrasparagraph{
    background-color: white;
    border: 1px solid white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 10px 10px 10px 2px #888888;

  }

  .extrasnames{
    font-family: "Big Caslon FB";
    font-size: 23pt;
    color: #344349;
  }

  .descriptionI{
    font-family: "Big Caslon FB";
    font-size: 20pt;
    color: #344349;
    font-style: italic;
  }

/* Bootstrap
*/
#extrasGraduateTab, #extrasUndergraduateTab, #extrasTab{
  color: #344349;
  background-color: #D3E1E5;
  border: 1px solid #D3E1E5;
  padding: 20px;
  margin-top: 5px;
  border-radius: 6px;
  font-family: "Futura";
  font-weight: lighter;
}

#extrasTab :hover{
  background-color: white;
  border: 1px;
  border-color: white;
  border-radius: 6px;
}


#test {
  color: red;
  background-color: red;
}

.involvementDescription {
  text-align: right;
}

textarea {
  resize: auto;
  width: 100%;
}

.cancelButton, .saveButton {
  display: none;
}
